
h1 {
    color: white;
    background-color: darkcyan;
    font-size: 40px;
    font-weight: 100;
    border: 4px solid darkgreen;
    /* border-width: 4px;
    border-style: solid;
    border-color: darkgreen; */
    border-radius: 10px;
    padding: 10px;
}
p {
    color:whitesmoke;
    background-color:darkcyan;
    font-size: 20px;
    font-weight: 100
}

img {
    width: 200px;
    border-radius: 6px;
}